<div data-dojo-type="dijit/layout/ContentPane" style="width: 100%; height: 400px; background-color: transparent; " 
        data-dojo-attach-point="_tabAperturas">
    <div data-dojo-type="dijit/layout/BorderContainer" data-dojo-attach-point="_bcAperturas" data-dojo-props="design:'sidebar', gutters:true, liveSplitters:true" style="background-color: transparent; width: 100%; height: 100%">
        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="splitter:true, region:'leading'" style="width: 240px; height:500px; margin: 0px; background: transparent" data-dojo-attach-point="_cpIzq">
           <div data-dojo-type="dijit/layout/BorderContainer" style="background: transparent; border: transparent" data-dojo-attach-point="_cpIzqSC">
           </div>           
        </div>
        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="splitter:true, region:'leading'" style="width: 437px; height:500px; margin: 0px; background: transparent;" data-dojo-attach-point="_cpDerq">
            <div data-dojo-type="dijit/layout/BorderContainer" style="background: transparent; border: transparent" data-dojo-attach-point="_cpDerSC" >
                             
            </div>
<!--            <div data-dojo-type="dojox.grid.DataGrid" data-dojo-attach-point="_tabla">
                
                
            </div>-->
        </div>
    </div>
</div>