<div data-dojo-type="dijit/layout/ContentPane" style="width: 627px; height:500px; background-color: transparent;" 
        data-dojo-attach-point="_tabAperturas">
    <div data-dojo-type="dijit/layout/BorderContainer" data-dojo-attach-point="_bcAperturas" 
         data-dojo-props="design:'sidebar', gutters:true, liveSplitters:true" style="background-color: transparent; width: 100%; height: 70%">

        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="splitter:true, region:'leading'" 
             style="height:500px; background: transparent;" data-dojo-attach-point="_cpDerq" class="cpSica"> 
                        
            <div data-dojo-type="dijit/layout/BorderContainer" style="background:transparent; border:transparent;" 
                data-dojo-attach-point="_cpDerSC" >
                <br>
                <div data-dojo-attach-point="_divTitulo" style="top: 40px;">Titulo</div>  
                <div data-dojo-attach-point="_divTexto" style="top: 40px;">Texto</div>  
                <br>
            </div>
               
            <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="splitter:true, region:'leading'" style="width: 500px; height:500px; background: transparent;" 
                 data-dojo-attach-point="_cpTablaCruces" class="gridSica" id="gridSicaCruces">         
           
            </div>
             
        </div>
    </div>
</div>