<div data-dojo-attach-point="_ruedaEspera">
     
    <button data-dojo-type="dijit/form/Button" class="SmallButtonTransparentAmarillo" 
                    data-dojo-attach-point="_agregarArea"> 
        <i class="material-icons" style="color: white">add</i> </button> 
    
    <button data-dojo-type="dijit/form/Button" class="SmallButtonTransparentAmarillo" 
                    data-dojo-attach-point="_cancelarAgregarArea"> 
        <i class="material-icons" style="color: white">clear</i> </button>     
        
    <button data-dojo-type="dijit/form/Button" class="SmallButtonTransparentAmarillo" 
                    data-dojo-attach-point="_removerTodasAreas"> 
        <i class="material-icons" style="color: white">delete</i> </button>  
        
    <button data-dojo-type="dijit/form/Button" class="SmallButtonTransparentAmarillo" 
                    data-dojo-attach-point="_croquisAreas"> 
        <i class="material-icons" style="color: white">description</i> </button>    
        
    
    <div data-dojo-attach-point="_msgAgregarArea"> </div>  
      
</div>

