<div data-dojo-attach-point="_ruedaEspera">    
    <div data-dojo-type="dijit/form/Button" class="SmallButtonTransparent" 
         id="btnAgregarArea" data-dojo-attach-point="_agregarArea"> 
        <img class="iconAgregarAreas" > </div> 
    <div data-dojo-type="dijit/form/Button" class="SmallButtonTransparent" 
        id="btnCancelarAgregarArea" data-dojo-attach-point="_cancelarAgregarArea"> 
        <img class="iconCancelarAgregarAreas" > </div> 
    <div data-dojo-type="dijit/form/Button" class="SmallButtonTransparent" 
            data-dojo-attach-point="_removerTodasAreas"> 
        <img class="iconRemoverTodasAreasArea"></div> 
        <div data-dojo-type="dijit/form/Button" class="SmallButtonTransparent" 
            data-dojo-attach-point="_croquisAreas"> 
            <img class="iconCroquisAreas"></div> 
    <div>
        <label>${_i18n.widgets.AreasConeatWidget.lbMantenerGeo}</label>
        <div data-dojo-attach-point="_mantenerGeo">&nbsp;</div>
        <div data-dojo-attach-point="_msgAgregarArea"> </div>  
    </div>       
</div>

