<div data-dojo-attach-point="_ruedaEspera">
     
    <div data-dojo-type="dijit/form/Button" class="SmallButtonTransparentAmarillo" 
         id="btnAgregarArea" data-dojo-attach-point="_agregarArea"> 
        
        <img class="iconAgregarAreas" > </div> 
       
    <div data-dojo-type="dijit/form/Button" class="SmallButtonTransparentAmarillo" 
        id="btnCancelarAgregarArea" data-dojo-attach-point="_cancelarAgregarArea"> 
        <img class="iconCancelarAgregarAreas" > </div> 
 
    <div data-dojo-type="dijit/form/Button" class="SmallButtonTransparentAmarillo" 
            data-dojo-attach-point="_removerTodasAreas"> 
        <img class="iconRemoverTodasAreasArea"></div> 
    
   
        <div data-dojo-type="dijit/form/Button" class="SmallButtonTransparentAmarillo" 
            data-dojo-attach-point="_croquisAreas"> 
            <img class="iconCroquisAreas"></div> 
        
    
    <div data-dojo-attach-point="_msgAgregarArea"> </div>
    
      
</div>

