<div class='${theme}' data-dojo-attach-point="_basic2">  
    <div data-dojo-attach-point="_principal" ></div>
    <br>
    <br><br>
    <div data-dojo-type="dijit/form/Button"
         data-dojo-attach-point="_buscarNode">
        ${_i18n.widgets.BuscarWidget.bBuscar}</div>
    <br><br>
    <label class="colorLabels">${_i18n.widgets.BuscarWidget.lbMantenerGeo}</label>
    <div data-dojo-attach-point="_mantenerGeo">&nbsp;</div>
    <div data-dojo-attach-point="_resultadoNode"></div>
    <br><br>
    <div class="gridDivBuscar" data-dojo-attach-point="_gridDiv" >   
    </div>
    <br>
    <div class="divEstilos">   
        <button data-dojo-attach-point="_acercarSeleccionNode" data-dojo-type="dijit/form/Button" class="SmallButtonTransparentAmarillo"> 
            <img class="iconAcercarSeleccionBuscar" >
        </button> 
        <button data-dojo-attach-point="_desSeleccionNode" data-dojo-type="dijit/form/Button" class="SmallButtonTransparentAmarillo" > 
            <img class="iconDesSeleccionBuscar" >
        </button> 
        <button data-dojo-attach-point="_seleccionarTodoNode" data-dojo-type="dijit/form/Button" class="SmallButtonTransparentAmarillo"> 
            <img class="iconDeleccionarTodoBuscar" >
        </button>  
    </div>

</div>
