<div class='${theme}' data-dojo-attach-point="_contenidosParentNode" >
    <div data-dojo-attach-point="_contenidosNode" style="width:200px;max-height: 400px; overflow: auto;" >
        <div class="smallText" data-dojo-attach-point="_resultadoNodeContenidos"></div>
        <div data-dojo-attach-point="_standBy">
            <button data-dojo-type="dijit/form/Button" class="SmallButtonTransparentAmarillo" 
                    data-dojo-attach-point="_colapsarNode" > 
            <img src = "../js/snia/img/collapseAllGris.png" class="iconColapsarContenidos" > </button> 

            <button data-dojo-attach-point="_expandirNode" data-dojo-type="dijit/form/Button" 
                    class="SmallButtonTransparentAmarillo"> 
                <img src = "../js/snia/img/expandAllGris.png" class="iconExpandContenidos" >
            </button> 
            <button data-dojo-attach-point="_descargarCapas" data-dojo-type="dijit/form/Button" 
                    class="SmallButtonTransparentAmarillo"> 
                <img src = "../js/snia/img/download.png" class="iconDownload" >
            </button> 
            <br><br>
            <div data-dojo-attach-point="tocDiv" class="agsjsTOCRootLayerLabel2"></div> 
            <br>
        </div>
    </div>
</div>
