<div class='${theme}' data-dojo-attach-point="_contenidosParentNode" style=" max-height: 400px; overflow-x: hidden; overflow-y: hidden;">
    <div data-dojo-attach-point="_contenidosNode"  style="overflow-y: hidden;overflow-x: hidden;" >
        <button style='background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;outline:none;'></button>
        <div class="smallText" data-dojo-attach-point="_resultadoNodeContenidos" ></div>
        <div data-dojo-attach-point="_standBy" style="overflow-y: hidden;overflow-x: hidden;"> 
            <button data-dojo-type="dijit/form/Button" class="SmallButtonTransparentAmarillo" 
                    data-dojo-attach-point="_colapsarNode" id="colapsarContenidos"> 
            <img src = "../js/snia/img/collapseAllGris.png" class="iconColapsarContenidos" > </button> 

            <button data-dojo-attach-point="_expandirNode" data-dojo-type="dijit/form/Button" id="buttonId" 
                    class="SmallButtonTransparentAmarillo" > 
                <img src = "../js/snia/img/expandAllGris.png" class="iconExpandContenidos" >
            </button> 
            <button data-dojo-attach-point="_descargarCapas" data-dojo-type="dijit/form/Button" 
                    class="SmallButtonTransparentAmarillo" > 
                <img src = "../js/snia/img/download.png" class="iconDownload" >
            </button> 
            <div data-dojo-attach-point="_bAgregarCapa" style="display: none;">
            <button  data-dojo-type="dijit/form/Button" 
                    class="SmallButtonTransparentAmarillo" onClick="agregarCapaDialog.show();"> 
                    Agregar Capa
            </button> 
            </div>
        </div>
    </div>
    <br><br>
    <div data-dojo-attach-point="tocDiv" class="agsjsTOCRootLayerLabel2 ContenidosTree" style="max-width: 200px; max-height:300px; overflow-x: hidden; overflow-y: auto;"></div>
    <br>
    <div data-dojo-type="dijit/Dialog" data-dojo-id="agregarCapaDialog" title="Agregar Capa">
       <table class="dijitDialogPaneContentArea">
           <tr>
               <td><label for="name">Nombre:</label></td>
               <td><input data-dojo-type="dijit/form/TextBox" name="nombreCapa" data-dojo-attach-point="_nombreCapa"></td>
           </tr>
           <tr>
               <td><label for="address">URL:</label></td>
               <td><input data-dojo-type="dijit/form/TextBox" name="urlCapa" data-dojo-attach-point="_urlCapa"></td>
           </tr>
           <tr>
               <td><label for="address">Formato:</label></td>
               <td>
                    <select data-dojo-type="dijit/form/ComboBox" name="formatoCapa" data-dojo-attach-point="_formatoCapa">
                    <option>ArcGISDynamicMap</option>
                    <option>ArcGISImageMap</option>
                    <option>WMS</option>
                    </select>
               </td>
           </tr>
       </table>

       <div class="dijitDialogPaneActionBar">
           <button data-dojo-type="dijit/form/Button" type="submit" data-dojo-attach-point="_agregarCapaNode" id="ok">OK</button>
           <button data-dojo-type="dijit/form/Button" type="button" data-dojo-props="onClick:function(){agregarCapaDialog.hide();}"
                   id="cancel">Cancel</button>
       </div>
   </div>
</div>