<div class='${theme}'>
    <div data-dojo-attach-point="_contenidosNode" style="height:400px;width:300px;" dojotype="dijit.layout.ContentPane">
    <div data-dojo-type="dijit/form/Button"
        data-dojo-attach-point="_colapsarNode">
       ${_i18n.widgets.ContenidosWidget.bColapsar}</div>
    <div data-dojo-type="dijit/form/Button"
        data-dojo-attach-point="_expandirNode">
       ${_i18n.widgets.ContenidosWidget.bExpandir}</div>  
    <br><br>
    <div data-dojo-attach-point="tocDiv"  ></div> 
</div>

