<div class='${theme}'>
    <div data-dojo-attach-point="_contenidosNode" style="height:400px;width:280px;" dojotype="dijit.layout.ContentPane">
        <button data-dojo-attach-point="_colapsarNode" data-dojo-type="dijit/form/Button" class="colapsarButtonC" > 
            <img class="iconColapsarContenidos" >
        ${_i18n.widgets.ContenidosWidget.bColapsar}
        </button> 

        <button data-dojo-attach-point="_expandirNode" data-dojo-type="dijit/form/Button" class="colapsarButtonC" > 
            <img class="iconExpandContenidos" >
        ${_i18n.widgets.ContenidosWidget.bExpandir}
        </button> 
    <br><br>
    <div data-dojo-attach-point="tocDiv"></div> 
</div>
    
</div>
