<div id="nav">
    
<div data-dojo-attach-point="_basic2" style="width: 100%; height: 100%; background-color: #BDBDBD; border-style: solid; border-width: 1px;">     
    <div data-dojo-attach-point="_resultadoAreaNode">
      <p id="areas" data-dojo-attach-point="_areas"></p>
</div>
 
<div  class="dijitDialogPaneContent">
    <button data-dojo-attach-point="_pdfCubrimiento" data-dojo-type="dijit/form/Button" >      
     <img class="iconPDFCubrimientoBuscar" >
    </button>   
    <button data-dojo-attach-point="_txtCubrimiento" data-dojo-type="dijit/form/Button" > 
    <img class="iconTXTCubrimientoBuscar" >
    </button>     
    </div>
</div> 
</div>