<div>
    <div data-dojo-attach-point="_distanciaNode"
         data-dojo-type="dijit/form/ToggleButton">
        ${_i18n.widgets.MedirWidget.lbDistancia}</div>
    <div data-dojo-attach-point="_areaNode"
         data-dojo-type="dijit/form/ToggleButton" >
        ${_i18n.widgets.MedirWidget.lbArea}</div>
    <br>
    <br>
    <select data-dojo-attach-point="_unidadNode" style="width: 200px;"
            data-dojo-type="dijit/form/Select">
    </select>
    <div data-dojo-attach-point="_resultadoNode" class="smallText">
        <table>
            <tr>
                <td data-dojo-attach-point="_resultadoMedidaNode" style="width:100px;;text-align:center;"></td>
                <td data-dojo-attach-point="_resultadoUnidadNode" style="width:100px;text-align:center;"></td>
            </tr>
        </table>
    </div>
</div>