<div class='${theme}'>
    <div data-dojo-type="dijit/form/ToggleButton"
            data-dojo-props="iconClass:'dijitCheckBoxIcon'"
            data-dojo-attach-point="_acercarNode">
        ${_i18n.widgets.NavegarWidget.tbAcercar}
    </div>
    <div data-dojo-type="dijit/form/ToggleButton"
            data-dojo-props="iconClass:'dijitCheckBoxIcon'"
            data-dojo-attach-point="_alejarNode">
        ${_i18n.widgets.NavegarWidget.tbAlejar}
    </div>
    <div data-dojo-type="dijit/form/ToggleButton"
            data-dojo-props="iconClass:'dijitCheckBoxIcon', checked:'true'"
            data-dojo-attach-point="_desplazarNode">
        ${_i18n.widgets.NavegarWidget.tbDesplazar}
    </div>
    <div data-dojo-type="dijit/form/Button"
            data-dojo-attach-point="_extensionMaximaNode">
        ${_i18n.widgets.NavegarWidget.tbExtensionMaxima}
    </div>
    <div data-dojo-type="dijit/form/Button"
            data-dojo-props="disabled:'true'"
            data-dojo-attach-point="_extensionAnteriorNode">
        ${_i18n.widgets.NavegarWidget.tbExtensionAnterior}
    </div>
    <div data-dojo-type="dijit/form/Button"
            data-dojo-props="disabled:'true'"
            data-dojo-attach-point="_extensionPosteriorNode">
        ${_i18n.widgets.NavegarWidget.tbExtensionPosterior}
    </div>
</div>