<div class='${theme}'>
    <div data-dojo-type="dijit/form/ToggleButton"
            data-dojo-props="iconClass:'dijitCheckBoxIcon'"
            data-dojo-attach-point="_acercarNode" class="SmallButtonTransparentAmarillo">
        <i class="material-icons" style="color: white">zoom_in</i>
    </div>
    <div data-dojo-type="dijit/form/ToggleButton"
            data-dojo-props="iconClass:'dijitCheckBoxIcon'"
            data-dojo-attach-point="_alejarNode" class="SmallButtonTransparentAmarillo">
        <i class="material-icons" style="color: white">zoom_out</i>
    </div>
    <div data-dojo-type="dijit/form/ToggleButton" data-dojo-props="iconClass:'dijitCheckBoxIcon', checked:'true'"
         data-dojo-attach-point="_desplazarNode" class="SmallButtonTransparentAmarillo">
       <i class="material-icons" style="color: white">open_with</i>
    </div>
    <div data-dojo-type="dijit/form/Button"
         data-dojo-attach-point="_extensionMaximaNode" class="SmallButtonTransparentAmarillo">
        <i class="material-icons" style="color: white">public</i>
    </div>
    <div data-dojo-type="dijit/form/Button"
            data-dojo-props="disabled:'true'"
            data-dojo-attach-point="_extensionAnteriorNode" class="SmallButtonTransparentAmarillo">
         <i class="material-icons" style="color: white">arrow_back</i>
    </div>
    <div data-dojo-type="dijit/form/Button"
            data-dojo-props="disabled:'true'"
            data-dojo-attach-point="_extensionPosteriorNode">
         <i class="material-icons" style="color: white">arrow_forward</i>
    </div>
</div>