<div class='${theme}'>
    <div data-dojo-type="dijit/form/ToggleButton"
            data-dojo-props="iconClass:'dijitCheckBoxIcon'"
            data-dojo-attach-point="_acercarNode" class="SmallButtonTransparentAmarillo">
        <i class="material-icons" style="color: white">add</i>
    </div>
    <div data-dojo-type="dijit/form/ToggleButton"
            data-dojo-props="iconClass:'dijitCheckBoxIcon'"
            data-dojo-attach-point="_alejarNode" class="SmallButtonTransparentAmarillo">
        <i class="material-icons" style="color: white">remove</i>
    </div>
    <div data-dojo-type="dijit/form/ToggleButton" data-dojo-props="iconClass:'dijitCheckBoxIcon', checked:'true'"
         data-dojo-attach-point="_desplazarNode" class="SmallButtonTransparentAmarillo">
       <i class="material-icons" style="color: white">settings_overscan</i>
    </div>
    <div data-dojo-type="dijit/form/Button"
         data-dojo-attach-point="_extensionMaximaNode" class="SmallButtonTransparentAmarillo">
        <i class="material-icons" style="color: white">settings_ethernet</i>
    </div>
    <div data-dojo-type="dijit/form/Button"
            data-dojo-props="disabled:'true'"
            data-dojo-attach-point="_extensionAnteriorNode" class="SmallButtonTransparentAmarillo">
         <i class="material-icons" style="color: white">settings_ethernet</i>
    </div>
    <div data-dojo-type="dijit/form/Button"
            data-dojo-props="disabled:'true'"
            data-dojo-attach-point="_extensionPosteriorNode">
        ${_i18n.widgets.NavegarWidget.tbExtensionPosterior}
    </div>
</div>