<div class='${theme}'>  
    <div data-dojo-attach-point="_ruedaEspera" style="width: 100%; background-color: #BDBDBD; border-style: solid; border-width: 1px;">
        <div data-dojo-attach-point="_msjUsuarioMarcarUbicacion" style="padding:10px"> 
            <p>Marque la ubicación del AGGEy/oE en el mapa</p>
            <button style="margin-top:10px" data-dojo-attach-point="_terminoDib" data-dojo-type="dijit/form/Button" class="SmallButton">Terminar de dibujar</button>
            <button style="margin-top:10px" data-dojo-attach-point="_cancelarDib" data-dojo-type="dijit/form/Button" class="SmallButton">Cancelar dibujo</button>
            <button style="margin-top:10px" data-dojo-attach-point="_atrasDib" data-dojo-type="dijit/form/Button" class="SmallButton">Volver atras</button>
        </div>
        <div data-dojo-attach-point="_riesgoNode">
            <div data-dojo-attach-point="_riesgoTabContainerNode">
                <div id="principal" ></div>               
            </div>          
        </div>        
    </div>
    <br/>
</div>