<div data-dojo-attach-point="_ruedaEspera" style="width: 100%;">
    <p>Seleccione la/s apertura/s: </p>
    <br>
    <div>
        <select id="dynamic" data-dojo-attach-point = "dynamic" multiple=""></select>
        <div data-dojo-attach-point="_dibujarArea" data-dojo-type="dijit/form/Button" class="SmallButtonTransparentAmarillo"> 
            <img src = "../js/snia/img/lapiz.png" class="iconAcercarSeleccionBuscar">
        </div>
        <div data-dojo-attach-point="_eliminarArea" data-dojo-type="dijit/form/Button" class="SmallButtonTransparentAmarillo"> 
            <img src = "../js/snia/img/remover.png" class="iconAcercarSeleccionBuscar">
        </div>
    </div>
    <br>
    <div data-dojo-attach-point = "_msjErrorNoSeleccionadas"> </div>
    <div data-dojo-attach-point="_msgAgregarArea"> </div>
    <br>
    <button data-dojo-attach-point="_buscarAperturas" data-dojo-type="dijit/form/Button" class="SmallButtonTransparentAmarillo"> 
            <img src = "../js/snia/img/acercarGris.png" class="iconAcercarSeleccionBuscar"> Buscar
    </button> 
    
</div>