<div class='${theme}' style="width: 70%;">
    <p>Seleccione la/s apertura/s: </p>
    <br>
    <select id="dynamic" data-dojo-attach-point = "dynamic"></select>
    <br><br>
    <div data-dojo-attach-point = "_msjErrorNoSeleccionadas"> </div>
    <br>
    <button data-dojo-attach-point="_buscarAperturas" data-dojo-type="dijit/form/Button" class="SmallButtonTransparentAmarillo"> 
            <img src = "../js/snia/img/acercarGris.png" class="iconAcercarSeleccionBuscar"> Buscar
    </button> 
</div>