<div data-dojo-attach-point="_principal" style="width: 410px; height: 400px">
  
    <div data-dojo-attach-point = "_tabPrincipal" data-dojo-type="dijit/layout/TabContainer" style="height: 320px;">
        <div data-dojo-type="dijit/layout/ContentPane" title="Simple" data-dojo-props="selected:true">
            <div data-dojo-attach-point="_ruedaEspera" >
                <p>Seleccione la/s apertura/s: </p>
                 <select id="dynamic" data-dojo-attach-point = "dynamic" multiple=""></select>
                    <br><br>
            </div>
            
            <div data-dojo-attach-point = "_tabSimple" data-dojo-type="dijit/layout/TabContainer" style="width: 370px; height: 150px;" tabPosition="left-h" tabStrip="true">
                <div data-dojo-type="dijit/layout/ContentPane" title="Dibujar" selected="true" style="margin-left: 10px; width: 300px;">
                    <br>
                    <div data-dojo-attach-point = "_msjErrorNoSeleccionadas"> </div>
                    <div data-dojo-attach-point="_msgAgregarArea"> </div>
                    <br>
                    <div data-dojo-attach-point="_dibujarArea" data-dojo-type="dijit/form/Button" class="SmallButtonTransparentAmarillo"> 
                        <img src = "../js/snia/img/lapiz.png" class="iconAcercarSeleccionBuscar">
                    </div>
                    <div data-dojo-attach-point="_eliminarArea" data-dojo-type="dijit/form/Button" class="SmallButtonTransparentAmarillo"> 
                        <img src = "../js/snia/img/remover.png" class="iconAcercarSeleccionBuscar">
                    </div>                  
                </div>
                
                <div data-dojo-type="dijit/layout/ContentPane" title="Predefinido">                    
                        <input type="radio" data-dojo-type="dijit/form/RadioButton" name="radioP" id="radioDepto" data-dojo-attach-point = "_radioDepto" value="depto"/>
                         <label for="radioDepto">Departamentos</label> 

                        <input type="radio" data-dojo-type="dijit/form/RadioButton" name="radioP" id="radioSP" data-dojo-attach-point = "_radioSP" value="sp"/>
                        <label for="radioSP">Seccional Policial</label> 
                        <br>
                        <input type="radio" data-dojo-type="dijit/form/RadioButton" name="radioP" data-dojo-attach-point = "_radioAS" id="radioAS" value="as"/>
                        <label for="radioAS">Áreas de Supervisión</label>

                        <input type="radio" data-dojo-type="dijit/form/RadioButton" name="radioP" id="radioAE" value="ae"/>
                        <label for="radioAE">Áreas de Enumeración</label>   
                        <br> <br>
                        <div>
                            <div data-dojo-attach-point="_textSeleccione"> </div>
                            <select id="dynamic" data-dojo-attach-point = "_select_predef" multiple=""></select>
                            <button data-dojo-attach-point="_buscarAperturas" data-dojo-type="dijit/form/Button" class="SmallButtonTransparentAmarillo" style="margin-top: 30px;"> 
                                <img src = "../js/snia/img/acercarGris.png" class="iconAcercarSeleccionBuscar"> 
                        </button>
                        </div>
                </div>                
              </div>            
            
        </div>
        <div data-dojo-type="dijit/layout/ContentPane" title="Cruces">
            <p>Seleccione la/s apertura/s: </p>
                <div>
                    <select id="dynamic1" data-dojo-attach-point = "_cmbAperturasC1" multiple=""></select>
                    <br> <br> <br>
                    <select id="dynamic2" data-dojo-attach-point = "_cmbAperturasC2" multiple=""></select>
                    <br>
                 </div>
        </div>        
    </div>   
 
<button data-dojo-attach-point="_buscarAperturas" data-dojo-type="dijit/form/Button" class="SmallButtonTransparentAmarillo" style="margin-top: 30px;"> 
            <img src = "../js/snia/img/acercarGris.png" class="iconAcercarSeleccionBuscar"> Buscar
    </button>
</div>


    